.button {
  border: none;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--color-dark-blue);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color-light-blue);
    }
  }

  &:active {
    background-color: var(--color-light-blue);
  }
}